<div class="container">
    <div class="row">
        <div class="span12">
            <div class="jumbotron center">
                <h1>Sing in to perform this action</h1>
                <br />
                <%= link_to 'Take Me Home', root_url, class: "btn btn-large btn-info icon-home icon-white" %>
            </div>
        </div>
    </div>
</div>
