@import "bootstrap";

.input-group-addon {
    min-width: 110px;
    text-align: left;
}

.highlight {
    border-style: none;
}

pre {
    margin: 0 0 0px;
    border-radius: 0px;
}

a.btn.btn-danger {
    color: white;
}

a.btn.btn-info {
    color: white;
}

a.btn.btn-success {
    color: white;
}
